.nav-bar{
  background-color: #61dafb;
  position: relative;
  width: 100%;
  margin-top: 0rem;

}
.nav-bar li {

  list-style: none;
  display: inline-block;
  padding: 2rem;

}
.nav-link{
  text-decoration: none;
  color: antiquewhite;

}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #61dafb;
}
.register{
  
 position: relative;
 margin: auto;
 width: 300px;

 display: flex;
 justify-content: center;
 flex-direction: column;
 border: 1px solid skyblue;
 align-items: center;
 padding: 1rem;
 
 border-radius: 0.4rem;
 
}
.inputBox{
  padding: 1rem;
  margin: 0.5rem;
}
#signup-btn{
  border: #61dafb;
  border: 2px solid skyblue;
  color: #61dafb;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 7rem;

}
#h4-register{
  color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
