.nav-bar{
  background-color: #61dafb;
  position: relative;
  width: 100%;
  margin-top: 0rem;

}
.nav-bar li {

  list-style: none;
  display: inline-block;
  padding: 2rem;

}
.nav-link{
  text-decoration: none;
  color: antiquewhite;

}
.footer{
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  background-color: #61dafb;
}
.nav-right{
  text-align: right;
  margin-left: -2.5rem;
}
.register{
  
 position: relative;
 margin: auto;
 width: 300px;

 display: flex;
 justify-content: center;
 flex-direction: column;
 border: 1px solid skyblue;
 align-items: center;
 padding: 1rem;
 
 border-radius: 0.4rem;
 
}
.inputBox{
  padding: 1rem;
  margin: 0.5rem;
  border-color: #61dafb;
  border-radius: 0.4rem;
}
#delete-btn{
  border: 1px solid red;
  color: red;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.2rem;
  cursor: pointer;
}
#update-link{
  text-decoration: none;
  
  border: 1px solid #61dafb ; 
  margin: 0.5rem;
  border-radius: 0.3rem;
  font-size: small;
  color: #61dafb;
  padding: 0.1rem;
  
}
#signup-btn{
  cursor: pointer;
  border: #61dafb;
  border: 2px solid skyblue;
  color: #61dafb;
  background-color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: 7rem;
  margin-top: 1rem;

}
.product-list{
  text-align: center;
  margin-top: 50px;
}
.product-list ul li{
  display: inline-block;
  border: 1px solid skyblue;
  padding:  5px;
  width: 150px;

}
.product-list ul{
  margin: 0;
}
.invalid-input{
  display: block;
  color: red;
  margin-left: -3rem;

  margin-top: -10px;
}
.search-product-box{
  width: 300px;
  margin: 20px;
  height: 40px;
  border: 1px solid skyblue;
  padding-left: 20px;
}
#h4-register{
  color: #61dafb;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
